.bin/
build/
.cursor/
.idea/
.test/
.trash/
.test_results/
.vscode/
.cursor/
.idea/
.cache/
.temp/
*.o
*.obj
*.lib
*.exp
*.pdb
*.ilk
*.pch
*.idb
*.ipdb
*.iobj
*.exe
*.out
*.log
__pycache__/
venv/
examples/